
		

		<article class="article" >

			<section >
				<div class="container">
					<div  class="row">
						<div class="col-xs-12 col-sm-5 col-md-4 ">
							<h4><span>Categorias</span></h4>
							<ul class="list-group">
								<li class="list-group-item"><a href="#">Carpinteria</a></li>
								<li class="list-group-item"><a href="#">Equipamiento</a></li>
								<li class="list-group-item"><a href="#">Pintura</a></li>
							</ul>
						</div>
						<div class="  col-xs-12 col-sm-7 col-md-8">
							<div class="row " >
								<div id="img" class=" col-xs-12 col-sm-6 col-md-4 " >
									<img class="img-responsive center-block" src="img/alfombra.jpg" alt="alfombra">
									<h4><a href="detalles.html">Alfombra</a></h4>
									<ul>
										<li>Tama単o: 15m</li>
										<li>Color: Verde</li>
									</ul>
								</div>
								<div id="img" class="  col-xs-12 col-sm-6 col-md-4">
									<img class="img-responsive center-block" src="img/metro.png" alt="Metro">
									<h4><a href="#">Metro</a></h4>
									<ul>
										<li>Tama単o: Standard</li>
										<li>Color: Varios</li>
									</ul>
								</div>
								<div id="img" class=" col-xs-12 col-sm-6 col-md-4">
									<img class="img-responsive center-block" src="img/lija.png" alt="Lija">
									<h4><a href="#">Lija</a></h4>
									<ul>
										<li>Tama単o: Varios</li>
										<li>Color: Varios</li>
									</ul>
								</div>

								<div id="img" class=" col-xs-12 col-sm-6 col-md-4">
									<img class="img-responsive center-block" src="img/protector.jpg" alt="Protector">
									<h4><a href="#">Otro</a></h4>
									<ul>
										<li>Tama単o: Standard</li>
										<li>Color: Varios</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>


		</article>







